html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../images/bg.png");
	height: 100%;
	margin: 0;
	padding: 0;
}

#wrapper {
	height: auto;
	overflow: auto;
	min-height: 100%;
	position: relative;
}

header {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	height: 75px;
}

.headbox {
	width: 960px;
}

#jp {
	position: relative;
	float: left;
	left: 180px;
	font-family: georgia;
	font-size: 20px;
	background-color: 4aaaa5;
	color: #ffffff;
	margin-top: 25px;
	height: 75px;
	padding-left: 10px;
	padding-right: 10px;
}

* {
	padding: 0;
	margin: 0;
}

nav ul {
	margin: left;
}

nav ul li {
	list-style-type: none;
	width: 150px;
	float: right;
}

nav li a {
	text-decoration: none;
	color: gray;
	margin-top: 20px;
	line-height: 50px;
	display: block;
	text-align: center;
	border-right: 1px solid #cccccc; 
}

nav li a:hover {
	background-color: blue;
	color: red;
}

#icons {
	margin-left: 70px;
}

#meBox {
	float: left;
	width: 650px;
	height: 400px;
	background-color: #ffffff;
	font-family: 'georgia';
	border: 1px solid #cccccc;
	display: inline-block;
	margin: 40px;
}

#aboutMe {
	color: #4aaaa5;
	font-size: 26px;
	font-weight: bold;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px #cccccc;
}

#picture {
	float: left;
	width: 250px;
	overflow: auto;
	padding: 10px;
	border: 1px solid red;
}

#bio {
	width: 350px;
	background-color: #ffffff;
	border: 1px solid red;
	float: right;
	overflow: auto;
}

#sidebar {
	float: left;
	width: 270px;
	height: 200px;
	margin-top: 40px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	display: inline-block;
}

#connect {
	color: #4aaaa5;
	font-size: 25px;
	font-weight: bold;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px #cccccc;
}

footer {
	position: absolute;
	height: 125px;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background-color: #666666;
	border-top: 4px solid #4aaaa5;
	color: #777777;
	text-align: center;

}