html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../images/bg.png");
	height: 100%;
	margin: 0;
	padding: 0;
}

#wrapper {
	height: auto;
	overflow: auto;
	min-height: 100%;
	position: relative;
}

.properformat {
	height: 100%;
	width: 960px;
	margin: 0 auto -150px auto;
}

.hdproperformat {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
}

header {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	height: 75px;
}

.headbox {
	width: 960px;
}

#jp {
	position: relative;
	float: left;
	top: 0px;
	padding-top: 35px;
	font-family: georgia;
	font-size: 28px;
	background-color: #4aaaa5;
	color: #ffffff;
	height: 41px;
	padding-left: 30px;
	padding-right: 30px;
}

* {
	padding: 0;
	margin: 0;
}

nav ul {
	margin: center;
}

nav ul li {
	list-style-type: none;
	width: 90px;
	float: right;
	text-align: center;
}

nav li a {
	text-decoration: none;
	color: gray;
	margin-top: 20px;
	line-height: 50px;
	display: block;
	text-align: center;
	border-right: 1px solid #cccccc; 
}

nav li a:hover {
	background-color: #4aaaa5;
	color: #ffffff;
}

#cats {
	float: left;
	padding-left: 150px;
	padding-bottom: 50px;
}

#gh {
	margin-left: 25px;
	margin-right: 5px;
}

#ln {
	margin-left: 10px;
	margin-right: 5px;
}

#so {
	margin-left: 5px;
	margin-right: 20px;
}

#meBox {
	float: left;
	width: 650px;
	height: auto;
	background-color: #ffffff;
	font-family: 'georgia';
	border: 1px solid #cccccc;
	margin-top: 40px;
}

#aboutMe {
	color: #4aaaa5;
	font-size: 26px;
	font-weight: bold;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px #cccccc;
}

#picture {
	float: left;
	margin: 20px;
}

#bio {
	background-color: #ffffff;
	padding: 20px;
}



#connect {
	color: #4aaaa5;
	font-size: 25px;
	font-weight: bold;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px #cccccc;
}

.contentBox {
	float: left;
	width: 650px;
	height: auto;
	background-color: #ffffff;
	font-family: 'georgia';
	border: 1px solid #cccccc;
	margin-top: 40px;
	display: inline-block;
	overflow: auto;
}

.contactname {
	float: left;
	width: 600px;
}

.inputText {
	margin-left: 40px;
	font-size: 18px;
}

#message {
	margin-left: 40px;
	margin-bottom: 40px;
	border: 1px solid #cccccc
}

h3 {
	margin-left: 40px;
	margin-top: 20px;
	color: #cccccc;
	font-family: 'georgia';
	font-size: 22px;
}

.images {
	margin-left: 30px;
	margin-left: 20px;
	margin-bottom: 60px;
}

.a {
	position: absolute;
	font-size: 28px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'georgia';
	margin-top: 150px;
	padding-left: 50px;
	padding-right: 127px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
 .b {
 	position: absolute;
 	float: left;
	font-size: 28px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'georgia';
	margin-top: 150px;
	padding-left: 20px;
	padding-right: 144px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	text-align: center;
 }

.c {
 	position: absolute;
 	float: right;
	font-size: 28px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'georgia';
	margin-top: 150px;
	margin-right: 40px;
	padding-left: 20px;
	padding-right: 127px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.d {
 	position: absolute;
 	float: left;
	font-size: 28px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'georgia';
	margin-top: 150px;
	margin-right: 40px;
	padding-left: 20px;
	padding-right: 29px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;	
	display: inline-block;
}

.e {
	position: absolute;
 	float: left;
	font-size: 28px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'georgia';
	margin-top: 150px;
	margin-right: 40px;
	padding-left: 20px;
	padding-right: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;	
}

#sidebar {
	float: left;
	width: 270px;
	height: 200px;
	margin-top: 40px;
	margin-left: 30px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	display: inline-block;
}

footer {
	position: absolute;
	height: 150px;
	width: 100%;
	background-color: #666666;
	border-top: 6px solid #4aaaa5;
	color: #777777;
	text-align: center;
	margin-top: 40px;
}

#copyright {
	font-size: 20px;
	width: 100%;
	margin-top: 50px;

}